body {
    background-image: url("../img/_galaxyBackground1.jpg");
    background-size: 1920px 1080px;
    justify-content: center;
}

#sw-logo {
    margin-left: 32%;
}

.main-button-container {
    margin-left: 42.2%;
    margin-top: 8%;
}

#main-button {
    height: 300px;
}

#main-button-shader {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-bottom-color: white;
    position: fixed;
    z-index: 999;
}