body {
    background-image: url("../img/_galaxyBackground1.jpg");
    background-size: 1920px 1080px;
}

#sw-logo {
    margin-left: 32%;
}

.main-button-container {
    margin-left: 42.2%;
    margin-top: 8%;
}

#main-button {
    height: 300px;
}