.xWingContainer.active {
    position: absolute;
    bottom: 70%;
    height: 60px;
    width: 900%;
    left: -10%;
    z-index: -1;
    /* Ship: */
    background-image: url('../../img/xWing.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* Animation: */
    animation-name: fly-cycle;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 22s;
    animation-delay: 1s;
}

.starDestroyerContainer.active {
    position: absolute;
    bottom: 25%;
    height: 200px;
    width: 900%;
    left: -35%;
    z-index: -1;
    /* Ship: */
    background-image: url('../../img/starDestroyer.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* Animation: */
    animation-name: fly-cycle;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 280s;
    animation-delay: 3s;
}

.interceptor {
    position: absolute;
    bottom: 60%;
    height: 60px;
    width: 900%;
    left: -10%;
    z-index: -1;
    /* Ship: */
    background-image: url('../../img/tieInterceptor.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* Animation: */
    animation-name: fly-cycle;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 22s;
    animation-delay: 1s;
}

@keyframes fly-cycle {
    0% {background-position: 0}
    100% {background-position: 100%}
}