body {
    background-image: url("../img/_galaxyBackground1.jpg");
    background-size: 100%;
}

#sw-logo {
    margin-left: 32%;
}

.main-button-container {
    margin-left: 37.4%;
    margin-top: 3%;
}

#main-button {
    height: 500px;
}