.loaderContainer {
    position: relative;
    height: 420px;
    width: 450px;
}

.loader {
    /* Lights: */
    border-top: 8px solid #1DA1F2;
    border-bottom: 8px solid #26a4f2;
    border-radius: 50%;
    box-shadow: 0 0 6px #002bff;
    /* Position: */
    position: relative;
    width: 120px;
    height: 120px;
    margin-left: 50%;
    margin-right: 50%;
    bottom: -40%;
    /* Animation: */
    filter: blur(2px);
    animation: spin 1.8s linear infinite, blink 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}

@keyframes blink {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}