/* General menu body rules: */
body {
    background-image: url("../img/_galaxyBackground1.jpg");
    background-size: 1920px 1080px;
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#startButton {
    height: 380px;
}

.mainButtons {
}