/* General main_menu body rules: */
body {
    background-image: url("../img/_galaxyBackground_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mainContainer {
    height: 420px;
}

#startButton {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
}

#mainContainer {
    position: center;
    align-items: center;
    justify-content: center;
    height: 420px;
    margin-bottom: -10%;
}

#mainContainer img {
    margin-top: 5%;
    height: 320px;
}

.mainMenuHeader {
    position: center;
    margin-top: -20%;
    height: 250px;
}