<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Board Game</title>
    <!-- Custom CSS link: -->
    <link rel="stylesheet" type="text/css" href="static/css/mainPage.css">
    <script type="module" src="static/js/handleMain.js" defer></script>
</head>
<body>
<!-- SW Logo -->
    <div class="sw-logo">
        <img id="sw-logo" src="static/img/_swLogo2.png" alt="star wars logo">
    </div>
    <div class="main-button-container">
        <img id="main-button" src="static/img/_jediButton.png" alt="main button with jedi logo">
    </div>
</body>
</html>